.title{
    font-size: 400%;/*字体大小*/
    padding: 0 50px;/*控制字体间距，防止抽象*/


    /*居中*/
    margin: 32vh auto 0;/*画面居中对齐*/
    display: flex;/*文字居中对齐*/
    align-items: center;
    justify-content: center;
}

.indexButton{/*主界面两个大按钮的容器*/

    display: flex;
    justify-content: space-evenly;

    margin: 6% 0 0;
    
}
.indexButton a{/*主界面两个大按钮*/
    width: 15%;
    font-size: 150%;
    align-content: center;/*按钮文字居中*/
}


/*国际跨性别现身日彩蛋对应的颜色，配合/js/IndexTransgender.js食用*/
.colored-g { color: #5bcffa; }
.colored-t { color: #f5abb9; }
.colored-e { color: white; }
.colored-j { color: #f5abb9; }
.colored-r { color: #5bcffa; }



/* 当长宽比小于1:1时，使用另一种排版 */
@media (max-aspect-ratio: 1/1){
    .title{
        font-size: 600%;/*手机界面时调整字体（更大）*/
    }
    .indexIcon{/*手机界面时消失*/
        display: none;
    }
    .indexButton{
        margin: 20% 0 0;
    }
    .indexButton a{
        width: 40%;
        font-size: 250%;
    }
}

/*动画部分*/

/*主页背景颜色渐变*/
body{
    animation: body 2s forwards;
}
@keyframes body {
    0%{background-color: white;}
    50%{background-color: #cce7ff;}
}

/*主页按钮动画*/
.indexButton a{animation: IndexButton 2s forwards;}
@keyframes IndexButton{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}