<!--各种固定在每个页面的按钮-->
<button onclick="settingDivOpen()" id="settingBtn">settings</button>
<div id="settingsDiv" class="div" style="display: none;">
    <strong>Banner Style:</strong><button onclick="settingBannerStyle('half')">half window</button><button onclick="settingBannerStyle()">one window</button>
</div>