<div style="background-color: #000000; color: white; min-height: 10vh; margin: 16px 0 0; text-align: center; position: relative; bottom: 0;
padding: 10px 0; display: flex; flex-direction: column; align-items: center; width: 100%;">
    <p>版權所有星野栄治 © 2025｜根據GNU LICENSE協議轉載</p>
    <div style="display: flex;">
        <div style="width: 1px; background-color: white;"></div>
        <div style="text-align: left; padding: 5px;">
        語言：<br>
        <a href="/index-zh_tw.html">正體中文</a><br>
        <a href="/index-zh_cn.html">簡體中文</a><br>
        <a href="/index-ja_jp.html">日本語</a><br>
        <a href="/index-en_us.html">English</a>
    </div>
    <div style="width: 1px; background-color: white;"></div>
    <div style="text-align: left; padding: 5px;">
        <p>github原程式碼：<a href="https://github.com/HosinoEJ/HosinoEJ">這裏</a></p>
        <p>特別感謝：<a href="https://imgapi.lie.moe/help">萌える嘘二次元随机图</a></p>
    </div>
    <div style="width: 1px; background-color: white;"></div>
    <div style="text-align: left; padding: 5px;">
        <p><a href="https://icp.gov.moe/?keyword=20253707">萌ICP备20253707号</a></p>
    </div>
    <div style="width: 1px; background-color: white;"></div>
    </div>
</div>