<footer>
    <div class="footerLink">
        <a href="https://github.com/HosinoEJ">Github</a>
        <a>E-mail</a>
        <a>Telegram</a>
        <a href="/"><img src="<%= iconUrl %>"/></a>
        <a>BiliBili</a>
        <a>Youtube</a>
        <a href="https://x.com/HosinoEJ">Twitter</a>
    </div>
    <div class="footerMap">
    </div>
    <div class="footerMade">
        <span>Made with:</span><br>
        <a href="https://nodejs.org">NodeJs</a>
        <a href="https://github.com">Github</a>
        <a href="https://vercel.com">Vercel</a>
    </div>
</footer>
<div class="footerData">
    <div class="left">
        @HosinoNeko - 2026
    </div>
    <div class="right">
        <a>Not By AI</a>
    </div>
</div>