<header>
    
    <a href="/" class="icon">
        <img src="<%= iconUrl %>"/>
        HosinoNeko | website
    </a>
    <page>
        <a href="/friends">友情鏈接</a>
        <a href="#">關於本站</a>
    </page>
    <div class="rtmod">
        <button onclick="settingDivOpen()" id="settingBtn">settings</button>
    </div>
</header>