<!DOCTYPE html>
<html>
<head>
<title><%- title %></title>
<link rel="icon" href="<%= iconUrl %>" /><!--图标-->
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/banner.css">
<link rel="stylesheet" href="/css/settingDiv.css">
<link rel="stylesheet" href="/css/indexTitleCursor.css">
<link rel="stylesheet" href="/css/bgSettings.css">
<link rel="stylesheet" href="/css/footer.css">
</head>